In [2]:
import pandas as pd
import numpy as np

- 비파괴적인 것을 해결하기 위해서는 iris = (sth) 식으로 저장하면 파괴적이 됨

# 문제1. 데이터프레임을 iris 변수로 읽기

In [3]:
iris = pd.read_csv("./data/iris.csv")
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
0            5.1         3.5          1.4         0.2     setosa
1            4.9         3.0          1.4         0.2     setosa
2            4.7         3.2          1.3         0.2     setosa
3            4.6         3.1          1.5         0.2     setosa
4            5.0         3.6          1.4         0.2     setosa
..           ...         ...          ...         ...        ...
145          6.7         3.0          5.2         2.3  virginica
146          6.3         2.5          5.0         1.9  virginica
147          6.5         3.0          5.2         2.0  virginica
148          6.2         3.4          5.4         2.3  virginica
149          5.9         3.0          5.1         1.8  virginica

[150 rows x 5 columns]

# 아래 코드를 실행해주세요

In [4]:
iris.iloc[10:30,2:3] = np.nan

# 문제2. 데이터프레임에 누락값이 있는지 확인

In [5]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  150 non-null    float64
 1   SepalWidth   150 non-null    float64
 2   PetalLength  130 non-null    float64
 3   PetalWidth   150 non-null    float64
 4   Species      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
iris.isnull().sum()

SepalLength     0
SepalWidth      0
PetalLength    20
PetalWidth      0
Species         0
dtype: int64

# 문제3. 결측치에 1 채워넣기

In [10]:
iris["PetalLength"].fillna(1, inplace = True)

In [8]:
# answer
iris = iris.fillna(1)

In [9]:
iris.isna().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

# 문제4. Species 컬럼 삭제하기

In [10]:
iris.drop(labels = ["Species"], axis = 1, inplace = True)

In [11]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]

# 아래 코드를 실행해주세요

In [12]:
iris.iloc[0:3 ,:] = np.nan

# 문제5. 결측치가 존재하는 행 삭제하기

In [13]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          NaN         NaN          NaN         NaN
1          NaN         NaN          NaN         NaN
2          NaN         NaN          NaN         NaN
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [14]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  147 non-null    float64
 1   SepalWidth   147 non-null    float64
 2   PetalLength  147 non-null    float64
 3   PetalWidth   147 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [15]:
iris.head().isnull()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0         True        True         True        True
1         True        True         True        True
2         True        True         True        True
3        False       False        False       False
4        False       False        False       False

In [16]:
iris.isna().sum()

SepalLength    3
SepalWidth     3
PetalLength    3
PetalWidth     3
dtype: int64

In [45]:
iris.dropna(subset = ["SepalLength", "SepalWidth", "PetalLength", "PetalWidth"], axis = 0, inplace = True)

In [46]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2

In [17]:
# answer
iris = iris.dropna(axis = 0)
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2

# 문제6. 인덱스가 0부터 시작하도록 재설정

In [18]:
iris.reset_index(inplace = True, drop = True)

In [19]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          4.6         3.1          1.5         0.2
1          5.0         3.6          1.4         0.2
2          5.4         3.9          1.7         0.4
3          4.6         3.4          1.4         0.3
4          5.0         3.4          1.5         0.2