In [3]:
# 1. 1부터 1000까지의 자연수 // 중 3의 배수의 // 합 구하기
# 166833

i = 0
tot = 0

while i <= 1000: # 1부터 1000까지    
    i += 1
    
    if i % 3 == 0: # i를 3으로 나눴을 때 나머지가 0인 경우 true = 3의 배수
        tot += i # 합 구하기

print(tot)

166833

In [4]:
result = 0

for i in range (3, 1001, 3):
    result += i
    
print(result)

166833

In [46]:
# 2. 계단식으로 별 출력하기(첫 줄에는 * 1개, 두 번째 줄에는 * 2개, ... 다섯번째 줄에 * 5개)

for i in range(5):
    for j in range(5):
        if j <= i:
            print("*", end=" ")
    print()

print()

# version 2
for i in range(1, 6):
    print("*" * i)
    
print()

# version 3
star = ""

for _ in range(5):
    star += "*"
    print(star)

*
* *
* * *
* * * *
* * * * *

*
**
***
****
*****

*
**
***
****
*****

In [55]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기
result = []

for i in range(1, 11):
    if i % 2 == 1:
        result.append(i * 2)
    
print(result)

# 리스트 내포
result = [i * 2 for i in range(1, 11) if i % 2 == 1]
result

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]

In [57]:
result = []

for i in range(1, 11, 2): # 1부터 10까지의 홀수
    result.append(i * 2)
    
print(result)

# 리스트 내포
[i * 2 for i in range(1, 11, 2)]

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]