In [3]:
# 1. 1부터 1000까지의 자연수 // 중 3의 배수의 // 합 구하기
# 166833

i = 0
tot = 0

while i <= 1000: # 1부터 1000까지    
    i += 1
    
    if i % 3 == 0: # i를 3으로 나눴을 때 나머지가 0인 경우 true = 3의 배수
        tot += i # 합 구하기

print(tot)

166833

In [4]:
result = 0

for i in range (3, 1001, 3):
    result += i
    
print(result)

166833

In [46]:
# 2. 계단식으로 별 출력하기(첫 줄에는 * 1개, 두 번째 줄에는 * 2개, ... 다섯번째 줄에 * 5개)

for i in range(5):
    for j in range(5):
        if j <= i:
            print("*", end=" ")
    print()

print()

# version 2
for i in range(1, 6):
    print("*" * i)
    
print()

# version 3
star = ""

for _ in range(5):
    star += "*"
    print(star)

*
* *
* * *
* * * *
* * * * *

*
**
***
****
*****

*
**
***
****
*****

In [55]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기
result = []

for i in range(1, 11):
    if i % 2 == 1:
        result.append(i * 2)
    
print(result)

# 리스트 내포
result = [i * 2 for i in range(1, 11) if i % 2 == 1]
result

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]

In [57]:
result = []

for i in range(1, 11, 2): # 1부터 10까지의 홀수
    result.append(i * 2)
    
print(result)

# 리스트 내포
[i * 2 for i in range(1, 11, 2)]

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]

In [60]:
# 4. 화폐매수 구하기

a = 156780 # 원
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

# 위 화폐 단위를 제외한 나머지를 취하는 식
# 50000 - a // 50000
# 10000 - (a%50000) // 10000
# 5000 - (a%50000) // 5000
# 1000 - 
# 500 - 
# 100 - 
# 50 - 
# 10 - 

# 결국  알고 보면 a를 화폐 단위로 나눈 수의 나머지와 몫으로 화폐 매수를 구할 수 있음

# % 나머지
# // 몫

for i in b:
    won = a//i # a를 i로 나누었을 때 몫을 추출 (몫만 추출함으로서 매수가 계산됨)
    a = a%i # a를 i로 나누었을 때 나머지를 추출 (앞에 단위 수 만큼 돈이 차감됨)
    print(i, "-", won)

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [66]:
a = 156780 # 원
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for i in b:
    n = a // i
    a -= n*i
    print(f"{i} - {n}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [95]:
# 5. name과 data를 각각 리스트에 담기
#    name과 data를 각각 리스트에 담고 각각 요소들을 짝지어 출력하기
q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]

name = []
data = []

# 리스트 내포를 쓰지 않았을 때
for key in q5:
    name.append(key["name"])
    data.append(key["data"])
print(f"name = {name}")
print(f"data = {data}")

print()

for key in q5:
    print(key["name"], end=" ")
    print(key["data"], end=" ")
    print()

print()
for i in range(len(name)):
    print(name[i], data[i])

print()
for i in zip(name, data):
    print(i[0], i[1])

name = ['y1', 'y2']
data = ['123', '234']

y1 123
y2 234

y1 123
y2 234

y1 123
y2 234

In [91]:
# 리스트 내포 (연습용으로 해보쟈 )
name = [key["name"] for key in q5]
data = [key["data"] for key in q5]
print(f"name = {name}")
print(f"data = {data}")

name = ['y1', 'y2']
data = ['123', '234']

In [205]:
# 6. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for key in q6.values():
    id_list.append(key["id"])
    name.append(key["name"])
    age.append(key["age"])
    
print(f"id = {id_list}")
print(f"name = {name}")
print(f"age = {age}")

print()

for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])
    
print(id_list)
print(name)
print(age)

print()

for i in range(len(id)):
    print(id[i], name[i], age[i])
    
print()

for i in zip(id, name, age):
    print(i[0], i[1], i[2])

id = ['a386', 'a383']
name = ['123', '123']
age = [34, 36]

['a386', 'a383', 'a386', 'a383']
['123', '123', '123', '123']
[34, 36, 34, 36]

a386 123 34
a383 123 36

a386 123 34
a383 123 36

In [380]:
# 7. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q7 = {"ret":[{"id":"a2001","name":"123","age":34},{"id":"a2002","name":"123","age":54},{"id":"a2003","name":"123","age":36},{"id":"a2004","name":"123","age":38}],"ret1":[{"id":"a2005","name":"123","age":17},{"id":"a2006","name":"123","age":52},{"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

for i in q7:
    for j in range(len(q7[i])):
        id_list.append(q7[i][j]["id"])
        name.append(q7[i][j]["name"])
        age.append(q7[i][j]["age"])

print(id_list)
print(name)
print(age)

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

In [383]:
id_list = []
name = []
age = []

for i in q7:
    for j in q7[i]:
        id_list.append(j["id"])
        name.append(j["name"])
        age.append(j["age"])

print(id_list)
print(name)
print(age)

print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33