In [3]:
# 1. 1부터 1000까지의 자연수 // 중 3의 배수의 // 합 구하기
# 166833

i = 0
tot = 0

while i <= 1000: # 1부터 1000까지    
    i += 1
    
    if i % 3 == 0: # i를 3으로 나눴을 때 나머지가 0인 경우 true = 3의 배수
        tot += i # 합 구하기

print(tot)

166833

In [4]:
result = 0

for i in range (3, 1001, 3):
    result += i
    
print(result)

166833

In [46]:
# 2. 계단식으로 별 출력하기(첫 줄에는 * 1개, 두 번째 줄에는 * 2개, ... 다섯번째 줄에 * 5개)

for i in range(5):
    for j in range(5):
        if j <= i:
            print("*", end=" ")
    print()

print()

# version 2
for i in range(1, 6):
    print("*" * i)
    
print()

# version 3
star = ""

for _ in range(5):
    star += "*"
    print(star)

*
* *
* * *
* * * *
* * * * *

*
**
***
****
*****

*
**
***
****
*****

In [55]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기
result = []

for i in range(1, 11):
    if i % 2 == 1:
        result.append(i * 2)
    
print(result)

# 리스트 내포
result = [i * 2 for i in range(1, 11) if i % 2 == 1]
result

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]

In [57]:
result = []

for i in range(1, 11, 2): # 1부터 10까지의 홀수
    result.append(i * 2)
    
print(result)

# 리스트 내포
[i * 2 for i in range(1, 11, 2)]

[2, 6, 10, 14, 18]

[2, 6, 10, 14, 18]

In [60]:
# 4. 화폐매수 구하기

a = 156780 # 원
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

# 위 화폐 단위를 제외한 나머지를 취하는 식
# 50000 - a // 50000
# 10000 - (a%50000) // 10000
# 5000 - (a%50000) // 5000
# 1000 - 
# 500 - 
# 100 - 
# 50 - 
# 10 - 

# 결국  알고 보면 a를 화폐 단위로 나눈 수의 나머지와 몫으로 화폐 매수를 구할 수 있음

# % 나머지
# // 몫

for i in b:
    won = a//i # a를 i로 나누었을 때 몫을 추출 (몫만 추출함으로서 매수가 계산됨)
    a = a%i # a를 i로 나누었을 때 나머지를 추출 (앞에 단위 수 만큼 돈이 차감됨)
    print(i, "-", won)

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [66]:
a = 156780 # 원
b = [50000, 10000, 5000, 1000, 500, 100, 50, 10]

for i in b:
    n = a // i
    a -= n*i
    print(f"{i} - {n}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [95]:
# 5. name과 data를 각각 리스트에 담기
#    name과 data를 각각 리스트에 담고 각각 요소들을 짝지어 출력하기
q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]

name = []
data = []

# 리스트 내포를 쓰지 않았을 때
for key in q5:
    name.append(key["name"])
    data.append(key["data"])
print(f"name = {name}")
print(f"data = {data}")

print()

for key in q5:
    print(key["name"], end=" ")
    print(key["data"], end=" ")
    print()

print()
for i in range(len(name)):
    print(name[i], data[i])

print()
for i in zip(name, data):
    print(i[0], i[1])

name = ['y1', 'y2']
data = ['123', '234']

y1 123
y2 234

y1 123
y2 234

y1 123
y2 234

In [91]:
# 리스트 내포 (연습용으로 해보쟈 )
name = [key["name"] for key in q5]
data = [key["data"] for key in q5]
print(f"name = {name}")
print(f"data = {data}")

name = ['y1', 'y2']
data = ['123', '234']

In [205]:
# 6. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for key in q6.values():
    id_list.append(key["id"])
    name.append(key["name"])
    age.append(key["age"])
    
print(f"id = {id_list}")
print(f"name = {name}")
print(f"age = {age}")

print()

for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])
    
print(id_list)
print(name)
print(age)

print()

for i in range(len(id)):
    print(id[i], name[i], age[i])
    
print()

for i in zip(id, name, age):
    print(i[0], i[1], i[2])

id = ['a386', 'a383']
name = ['123', '123']
age = [34, 36]

['a386', 'a383', 'a386', 'a383']
['123', '123', '123', '123']
[34, 36, 34, 36]

a386 123 34
a383 123 36

a386 123 34
a383 123 36

In [46]:
# 7. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q7 = {"ret":[{"id":"a2001","name":"123","age":34},{"id":"a2002","name":"123","age":54},{"id":"a2003","name":"123","age":36},{"id":"a2004","name":"123","age":38}],"ret1":[{"id":"a2005","name":"123","age":17},{"id":"a2006","name":"123","age":52},{"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

for i in q7:
    for j in range(len(q7[i])):
        id_list.append(q7[i][j]["id"])
        name.append(q7[i][j]["name"])
        age.append(q7[i][j]["age"])

print(id_list)
print(name)
print(age)

['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

In [48]:
id_list = []
name = []
age = []

for i in q7:
    for j in q7[i]:
        id_list.append(j["id"])
        name.append(j["name"])
        age.append(j["age"])

print(id_list)
print(name)
print(age)

print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [94]:
# 8. name, species, likes, dislikes 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},{"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},{"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

# type(q8) = list

for i in q8:
    name.append(i["name"])
    species.append(i["species"])
    likes.append(i["foods"]["likes"])
    dislikes.append(i["foods"]["dislikes"])

print(f"name {name}")
print(f"species {species}")
print(f"likes {likes}")
print(f"dislikes {dislikes}")

print()

for i in range(len(name)):
    print(name[i], species[i], likes[i], dislikes[i])

name ['AAA', 'BBB', 'CCC']
species ['cat', 'dog', 'cat']
likes [['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
dislikes [['ham', 'zucchini'], ['tuna'], ['cookies']]

AAA cat ['tuna', 'catnip'] ['ham', 'zucchini']
BBB dog ['bones', 'carrots'] ['tuna']
CCC cat ['mice'] ['cookies']

In [98]:
# 9. id, name, age를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기

q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},{"id":"id2","name":"가나다2","age":32},{"id":"id3","name":"가나다3","age":33},{"id":"id4","name":"가나다4","age":34},{"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []

# type = dict

# for문을 2개 만든다는 의미는! for문으 2번 반복된다는 의미! 
# 한 번 만들 수 있으면 for문을 한 번 돌려야함!

for i in q9["data"]: # q9은 type이 'dict'이므로! q9["data"]를 사용할 수 있음
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])

print(id_list)
print(name)
print(age)

print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [141]:
# 10. id, name, age, math, eng, kor, (math, eng, kor)합계를 각각 리스트에 담고 
# 각각의 요소를 짝지어 출력하기

q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31,"score":{"math":50,"eng":90,"kor":69}},{"id":"id2","name":"가나다2","age":32,"score":{"math":90,"eng":68,"kor":80}},{"id":"id3","name":"가나다3","age":33,"score":{"math":70,"eng":76,"kor":60}},{"id":"id4","name":"가나다4","age":34,"score":{"math":80,"eng":79,"kor":50}},{"id":"id5","name":"가나다5","age":35,"score":{"math":80,"eng":78,"kor":90}}]}

id_list = []
name = []
age = []
math = []
eng = []
kor = []
total = []

# print(type(q10)) # dict

# print(type(q10["data"][0]["score"]))  # dict
# j = q10["data"][0]["score"].values()
# print(sum(j))

for i in q10["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i["score"]["eng"])
    kor.append(i["score"]["kor"])
    total.append(sum(i["score"].values()))
    # total(math[-1] + eng[-1] + kor[-1])
    
print(id_list)
print(name)
print(age)
print(math)
print(eng)
print(kor)
print(total)
    
print()

for i in range(len(id_list)):
    print(id_list[i], name[i], age[i], math[i], eng[i], kor[i], total[i])

['id1', 'id2', 'id3', 'id4', 'id5']
['가나다1', '가나다2', '가나다3', '가나다4', '가나다5']
[31, 32, 33, 34, 35]
[50, 90, 70, 80, 80]
[90, 68, 76, 79, 78]
[69, 80, 60, 50, 90]
[209, 238, 206, 209, 248]

id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [205]:
# 11. 영화 제목만 추출된 리스트 생성하기
q11 = {"boxOfficeResult":{"boxofficeType":"일별 박스오피스","showRange":"20120101~20120101","dailyBoxOfficeList":[{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112207","movieNm":"미션임파서블:고스트프로토콜","openDt":"2011-12-15","salesAmt":"2776060500","salesShare":"36.3","salesInten":"-415699000","salesChange":"-13","salesAcc":"40541108500","audiCnt":"353274","audiInten":"-60106","audiChange":"-14.5","audiAcc":"5328435","scrnCnt":"697","showCnt":"3223"},{"rnum":"2","rank":"2","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20110295","movieNm":"마이 웨이","openDt":"2011-12-21","salesAmt":"1189058500","salesShare":"15.6","salesInten":"-105894500","salesChange":"-8.2","salesAcc":"13002897500","audiCnt":"153501","audiInten":"-16465","audiChange":"-9.7","audiAcc":"1739543","scrnCnt":"588","showCnt":"2321"},{"rnum":"3","rank":"3","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20112621","movieNm":"셜록홈즈 : 그림자 게임","openDt":"2011-12-21","salesAmt":"1176022500","salesShare":"15.4","salesInten":"-210328500","salesChange":"-15.2","salesAcc":"10678327500","audiCnt":"153004","audiInten":"-31283","audiChange":"-17","audiAcc":"1442861","scrnCnt":"360","showCnt":"1832"},{"rnum":"4","rank":"4","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113260","movieNm":"퍼펙트 게임","openDt":"2011-12-21","salesAmt":"644532000","salesShare":"8.4","salesInten":"-75116500","salesChange":"-10.4","salesAcc":"6640940000","audiCnt":"83644","audiInten":"-12225","audiChange":"-12.8","audiAcc":"895416","scrnCnt":"396","showCnt":"1364"},{"rnum":"5","rank":"5","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113271","movieNm":"프렌즈: 몬스터섬의비밀 ","openDt":"2011-12-29","salesAmt":"436753500","salesShare":"5.7","salesInten":"-89051000","salesChange":"-16.9","salesAcc":"1523037000","audiCnt":"55092","audiInten":"-15568","audiChange":"-22","audiAcc":"202909","scrnCnt":"290","showCnt":"838"},{"rnum":"6","rank":"6","rankInten":"1","rankOldAndNew":"OLD","movieCd":"19940256","movieNm":"라이온 킹","openDt":"1994-07-02","salesAmt":"507115500","salesShare":"6.6","salesInten":"-114593500","salesChange":"-18.4","salesAcc":"1841625000","audiCnt":"45750","audiInten":"-11699","audiChange":"-20.4","audiAcc":"171285","scrnCnt":"244","showCnt":"895"},{"rnum":"7","rank":"7","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20113381","movieNm":"오싹한 연애","openDt":"2011-12-01","salesAmt":"344871000","salesShare":"4.5","salesInten":"-107005500","salesChange":"-23.7","salesAcc":"20634684500","audiCnt":"45062","audiInten":"-15926","audiChange":"-26.1","audiAcc":"2823060","scrnCnt":"243","showCnt":"839"},{"rnum":"8","rank":"8","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112709","movieNm":"극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」","openDt":"2011-12-22","salesAmt":"167809500","salesShare":"2.2","salesInten":"-45900500","salesChange":"-21.5","salesAcc":"1897120000","audiCnt":"24202","audiInten":"-7756","audiChange":"-24.3","audiAcc":"285959","scrnCnt":"186","showCnt":"348"},{"rnum":"9","rank":"9","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113311","movieNm":"앨빈과 슈퍼밴드3","openDt":"2011-12-15","salesAmt":"137030000","salesShare":"1.8","salesInten":"-35408000","salesChange":"-20.5","salesAcc":"3416675000","audiCnt":"19729","audiInten":"-6461","audiChange":"-24.7","audiAcc":"516289","scrnCnt":"169","showCnt":"359"},{"rnum":"10","rank":"10","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112708","movieNm":"극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」","openDt":"2011-12-22","salesAmt":"125535500","salesShare":"1.6","salesInten":"-40756000","salesChange":"-24.5","salesAcc":"1595695000","audiCnt":"17817","audiInten":"-6554","audiChange":"-26.9","audiAcc":"235070","scrnCnt":"175","showCnt":"291"}]}}

movieNm = []

for i in q11:
    for j in q11[i]["dailyBoxOfficeList"]:
        movieNm.append(j['movieNm'])

print(movieNm)

['미션임파서블:고스트프로토콜', '마이 웨이', '셜록홈즈 : 그림자 게임', '퍼펙트 게임', '프렌즈: 몬스터섬의비밀 ', '라이온 킹', '오싹한 연애', '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」', '앨빈과 슈퍼밴드3', '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」']

for i q11["boxOfficeResult"]["dailyBoxOfficeList"]:
    tittle.append(i["movieNm"])

    print(tittle)

In [256]:
# 12. 두 리스트를 조합해 하나의 딕셔너리 만들기
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character = dict()

a = {}
for i in range(len(key_list)):
    a[key_list[i]] = value_list[i]

print(a)

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [257]:
print(key_list[0])
print(value_list[0])

character["name"] = "기사"
character["hp"] = 200
character["mp"] = 30
character["level"] = 5

character[key_list[0]] = value_list[0]
character[key_list[1]] = value_list[1]
character[key_list[2]] = value_list[2]
character[key_list[3]] = value_list[3]

for i in range(len(key_list)):
    character[key_list[i]] = value_list[i]

name
기사

In [303]:
# 13. 리스트의 각 숫자가 몇 번 등장하는지 출력하는 코드 작성하기
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

counter[numbers[0]] = numbers.count(1)
counter[numbers[1]] = numbers.count(2)
counter[numbers[2]] = numbers.count(6)
counter[numbers[3]] = numbers.count(8)
counter[numbers[4]] = numbers.count(4)
counter[numbers[5]] = numbers.count(3)
counter[numbers[6]] = numbers.count(9)
counter[numbers[7]] = numbers.count(5)
counter[numbers[8]] = numbers.count(7)

# for문 - 반복
# numbers를 확인한다
# 0번 인덱스에 있는 숫자를 카운트 하고 counter에 저장한다
# 1번 인덱스에 있는 숫자를 카운트 하고 counter에 저장한다 (반복)
# key로 만들 것을 저정해야함 for in ~
# value로 만들 것을 저장해야함 for in ~
# 이때 counter에 저장된 숫자들은 제외하고 다음 숫자를 key로 설정한다 = if ~ 
    # 반복문을 만든다
    
# numbers.count = 숫자 카운팅 함수

# count() 함수 이용 방식
for i in set(numbers):
    counter[i] = numbers.count(i)
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [304]:
# 딕셔너리 내포
counter = {i : numbers.count(i) for i in set(numbers)}
print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [306]:
# 하나하나 세는 방식
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for num in numbers:
    if num in counter: # 해당 key가 딕셔너리 안에 있다면
        counter[num] = counter[num] + 1 # 값 수정
        
    else: # 해당 키가 딕셔너리 안에 없다면
        counter[num] = 1 # 요소 추가
        
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [307]:
# 위 코드를 get() 메서드로 개선
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for num in numbers:
    counter[num] = counter.get(num, 0) + 1
    
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}