# 기본 자료형

- :-- 왼쪽 정렬, :--: 가운데 정렬, --: 오른쪽 정렬

| 구분 | 자료형 | 변환 함수 | 의미 |
| :-- | :-- | :-- | :-- |
| int | 정수 | int(n) | n을 정수로 변환 |
| float | 실수 | float(n) | n을 실수로 변환 |
| bool | 논리 | bool(n) | n을 논리로 변환 |
| str | 문자열 | str(n) | n을 문자열로 변환 |

## 정수(int)

In [1]:
age = 25
print(type(age))

<class 'int'>

## 다른 자료형의 값을 정수형 데이터로 변환

In [2]:
print(int(1.9))
print(int(True)) # bool type, 1
print(int(False)) # bool type, 0
print(int("100")) # 문자열 100이 아니라 int로 변환하여 정수 값으로 출력됨

1
1
0
100

## 실수(float)

In [3]:
height = 168.5
print(type(height))

<class 'float'>

### 다른 자료형의 값을 실수형 데이터로 변환

In [4]:
print(float(1))
print(float(True))
print(float(False))
print(float("3.14"))
print(float("100"))

1.0
1.0
0.0
3.14
100.0

## 논리(bool)

- 참과 거짓을 표현하는 True, False 값을 가짐
- 영국의 수학자 조지 불(George Boole)이 만듦

In [6]:
print(bool(0))
print(bool(""))

False
False

In [7]:
print(bool(1))
print(bool("hello")) # 공백 하나라도 들어가 있으면 True로 출력됨

True
True

### 비교 연산자의 판단 결과

In [8]:
print(3 > 1)
print(3 < 1)

True
False

### 같은지 다른지 비교

In [11]:
# 같은지 비교
print(10 == 10)
print(10 == 10.0)
print(10 == 12)
print(10 == 10.1)

True
True
False
False

In [12]:
# 다른지 비교
print(10 != 10)

False

In [13]:
print("Python" == "Python")
print("Python" == "python")

True
False

## 문자열(str)

- 기본적으로 따옴표로 묶어서 표현
- 작은 따옴표('')와 큰 따옴표("") 모두 사용 가능
- 삼중 따옴표(''' ''', """ """)도 사용 가능

In [14]:
name = "Alice"
print(type(name))

<class 'str'>

### 문자열 변환

In [16]:
print(str(100))
print(str(True))
print(str(False))
print(str(3.14))

100
True
False
3.14

### 문자열 인덱싱(Indexing)

- 문자열 인덱스 : 문자열을 구성하는 모든 문자에 부여한 고유 번호
- 인덱스 시작번호는 0임

In [17]:
s = "hello"

In [18]:
print(s[0])

h

In [19]:
print(s[-1])

o

In [21]:
s[4] == s[-1]

True

### 문자열 슬라이싱(slicing)

- 표현법 : 데이터[시작 인덱스 : 종료 인덱스 : 증감값]
    - 대부분 증감값은 생략하고 [시작 인덱스 : 종료 인덱스]의 형태로 사용

In [26]:
s = "banana"
s[0:3]

'ban'

# 실습

1. 휴대폰 번호 가운데 4자리 추출
2. 31025를 학년, 반, 번호로 나누어 출력

In [27]:
# 1. 휴대폰 번호 가운데 4자리를 추출
number = "010-1234-5678"

In [29]:
number[4:8]

'1234'

In [28]:
# 2. 31025를 학년, 반, 번호로 나누어 출력
q2= "31025"

In [49]:
학년 = q2[0]
반 = q2[1:3]
번 = q2[-2:]

In [50]:
print(학년, "학년", 반, "반", 번, "번")

3 학년 10 반 25 번