# 컬렉션

- 여러 값을 하나의 이름으로 묶어서 관리하는 자료형

| 컬렉션 | 생성 함수 | 특징 | 예시 |
| :-- | :-- | :-- | :-- |
| 리스트 | list() | 추가, 수정, 삭제가 언제나 가능 | a = [1, 2, 3] |
| 튜플 | tuple() | 생성되고 나면 변경 불가능 | a = (1, 2, 3) |
| 세트 | set() | 중복된 값의 저장 불가능 | a = {1, 2, 3} |
| 딕셔너리 | dict() | 키 + 값으로 관리 | a = {"age" : 25} |

- 이 중에서 저장된 값들의 순서가 있는 컬렉션을 시퀀스(Sequence) 라고 부름
    - 시퀀스 : 리스트, 튜플

## 리스트

- 여러 값을 저장할 때 가장 많이 사용하는 자료형
- 저장하려는 값들의 자료형이 서로 다르더라도 하나의 리스트로 저장할 수 있음

In [2]:
# 리스트 생성
li = [100, 3.14, "hello"]
li

[100, 3.14, 'hello']

In [5]:
# range() : 연속된 숫자 생성
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list(range(-4, 10, 2)) # (시작값, 종료값, 증감값)

[-4, -2, 0, 2, 4, 6, 8]

In [10]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [11]:
# range()를 이용하여 [5, 3, 1, -1, -3, -5, -7, -9]를 출력
list(range(5, -10, -2))

[5, 3, 1, -1, -3, -5, -7, -9]

### 리스트의 인덱싱(Indexing)과 슬라이싱(Slicing)

In [13]:
# 인덱싱
print(li[0])
print(li[1])
print(li[2])

100
3.14
hello

In [16]:
# 슬라이싱
li = [10, 20, 30, 40, 50]
li[:3] # li[시작인덱스:종료인덱스:(증감값)]

[10, 20, 30]

### 리스트 요소의 추가와 삭제

- 새로운 요소 추가 : append(), insert()
- 요소 삭제 : pop(), del

In [17]:
scores = [50, 40, 30]
scores

[50, 40, 30]

In [18]:
# scores 리스트에 마지막 요소로 100을 추가
scores.append(100)

In [19]:
scores

[50, 40, 30, 100]

In [20]:
# scores 리스트의 인덱스 0에 90을 추가
scores.insert(0, 90)

In [22]:
scores

[90, 50, 40, 30, 100]

In [23]:
# scores 리스트의 마지막 요소를 제거
scores.pop()

100

In [24]:
scores

[90, 50, 40, 30]

In [25]:
# 인덱스가 0인 요소를 제거
scores.pop(0)

90

In [26]:
scores

[50, 40, 30]

In [27]:
# 인덱스가 0인 요소를 제거
del scores[0]

In [28]:
scores

[40, 30]

## 튜플

- 지정된 값을 변경 할 수 없는 리스트
- 리스트와 마찬가지로 인덱싱, 슬라이싱이 가능하지만 값의 추가, 수정, 삭제가 불가능
- 표현법 : 소괄호() 또는 tuple()

In [30]:
t1 = (1, 2, 3)
t2 = 1, 2, 3
t3 = tuple([100, 3.14, "hello"])
t4 = (100) # tuple 아님
t5 = (100,)

In [31]:
print(t1)
print(type(t1))

(1, 2, 3)
<class 'tuple'>

In [32]:
print(t2)
print(type(t2))

(1, 2, 3)
<class 'tuple'>

In [33]:
print(t3)
print(type(t3))

(100, 3.14, 'hello')
<class 'tuple'>

In [35]:
print(t4)
print(type(t4))
print(t5)
print(type(t5))

100
<class 'int'>
(100,)
<class 'tuple'>

## 시퀀스 자료형의 공통 기능

- 시퀀스 : 리스트, 튜플, range, 문자열

### 특정 값이 있는지 확인

- 값 in 시퀀스 객체
- 값 not in 시퀀스 객체

In [36]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [37]:
30 in a

True

In [38]:
100 in a

False

In [39]:
30 not in a

False

In [40]:
100 not in a

True

### 시퀀스 객체 연결

- 시퀀스 객체는 + 연산자를 이용하여 연결
    - 단, range는 연결되지 않음
        - range를 리스트 또는 튜플로 바꾸어서 연결

In [41]:
a = [0, 10, 20, 30]
b = [9, 8, 7, 6]

In [42]:
a + b

[0, 10, 20, 30, 9, 8, 7, 6]

In [43]:
tuple(range(10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [44]:
"Hello, " + "World!"

'Hello, World!'

### 시퀀스 객체 반복

- \* 연산자 : 시퀀스 객체를 특정 횟수만큼 반복

In [46]:
"Hello " * 3

'Hello Hello Hello '

### 시퀀스 객체의 요소 개수 구하기

- len() : 요소의 개수(길이)를 구하는 함수

In [47]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
len(a)

10

### 요소에 값 할당

- [] 로 요소에 접근한 뒤 = 로 할당
- 시퀀스객체[인덱스] = 값

In [48]:
a = [0, 0, 0, 0, 0]

In [49]:
a[0] = 38

In [50]:
a

[38, 0, 0, 0, 0]

In [51]:
a[1] = 21
a[2] = 53
a[3] = 62
a[4] = 19

In [52]:
a

[38, 21, 53, 62, 19]

In [73]:
# 1. 문자열 "maple"의 가운데 글자를 출력
s = "maple"
s[int(len(s) / 2)]
s[len(s)//2]

'p'

In [74]:
# 2. 리스트 [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]의 세번째부터 일곱번째 요소까지만 추출한 
# 결과 리스트에서 두번째 요소를 출력

c = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
c[2:7][1]

30

## 세트

- 수학의 집합 개념을 구현한 자료형
- 순서가 없기 때문에 인덱싱, 슬라이싱 불가
- 중복 제거, 교집합, 합집합, 차집합 개념이 필요한 경우에 사용
- 표현법 : 중괄호({}) 또는 set()
    - 빈 중괄호를 입력하면 빈 딕셔너리로가 생성되기 때문에 빈 세트를 생성하고 싶을 때에는 중괄호를 사용할 수 없음

In [75]:
s = {}
print(type(s)) # 빈 중괄호~ 빈 딕셔너리가 됨~

<class 'dict'>

In [77]:
s = set()
print(type(s))

<class 'set'>

### 세트의 특징

1. 순서가 없음
2. 중복된 값을 저장할 수 없음

In [78]:
# 리스트의 중복 제거
li = [1, 1, 2, 2, 3, 3]

In [80]:
set(li) # 중복값이 제거되어 나옴~

{1, 2, 3}

In [81]:
list(set(li))

[1, 2, 3]

### 세트 요소의 추가와 삭제

- 추가 : add()
- 삭제 : remove(), discard()

In [82]:
s = {10, 20, 30}
s.add(40) # s 세트에 40을 추가

In [83]:
s

{10, 20, 30, 40}

In [84]:
# 세트에서 요소를 제거. 찾는 요소가 없으면 에러 발생
s.remove(20)

In [85]:
s

{10, 30, 40}

In [87]:
# 세트에서 요소를 제거. 찾는 요소가 없어도 에러 발생하지 않음
s.discard(30)

In [88]:
s

{10, 40}

### 세트에 특정 값이 있는지 확인하기

- 표현법 : 값 in 세트
    - 특정 값이 없는지 확인 : 값 not in 세트

In [89]:
10 in s

True

In [90]:
30 in s

False

In [91]:
10 not in s

False

In [92]:
30 not in s

True

### 집합 연산 사용하기

In [94]:
# 합집합
a = {1, 2, 3, 4,}
b = {3, 4, 5, 6}
a | b

{1, 2, 3, 4, 5, 6}

In [95]:
# 교집합
a & b

{3, 4}

In [96]:
# 차집합
a - b

{1, 2}

## 딕셔너리

- 사전을 의미하며, 사전과 마찬가지로 "키"와 "값"을 "단어"와 "단어의 의미"처럼 사용
- 표현법 : dict{키1 : 값2, 키2 : 값3, ......}

In [98]:
# 딕셔너리 생성
d = {"a" : "apple", "b" : "banana"}
d

{'a': 'apple', 'b': 'banana'}

In [99]:
type(d)

dict

In [100]:
d['a']

'apple'

In [101]:
d["b"]

'banana'

In [102]:
# 존재하지 않는 키를 조회하려고 하면 에러 발생
d["c"]

KeyError: 'c'

In [103]:
# 딕셔너리를 생성하는 다른 방법
d = dict(a = "apple", b = "banana")
d

{'a': 'apple', 'b': 'banana'}

### 딕셔너리 요소의 추가와 삭제

In [104]:
dic = {"apple" : "사과"}

In [106]:
dic["watermelon"] = "멜론"

In [107]:
dic

{'apple': '사과', 'watermelon': '멜론'}

In [109]:
# 딕셔너리 요소 수정
dic["watermelon"] = "수박"

In [110]:
dic

{'apple': '사과', 'watermelon': '수박'}

In [111]:
# update() : 키의 값 수정, 키가 없으면 키-값 쌍 추가
me = {"name" : "james"}

In [112]:
me

{'name': 'james'}

In [113]:
me.update(age = 25) # age를 25로 추가

In [114]:
me

{'name': 'james', 'age': 25}

In [115]:
me.update(age = 35, address = "seoul")

In [116]:
me

{'name': 'james', 'age': 35, 'address': 'seoul'}

In [117]:
# 딕셔너리 요소 삭제
me.pop("address")

'seoul'

In [118]:
me

{'name': 'james', 'age': 35}

### 딕셔너리에 키가 있는지 확인하기

- 표현법 : 키 in 딕셔너리

In [119]:
"name" in me

True

In [120]:
# in 연산자를 통해서는 key만 확인할 수 있음
"james" in me # james = value

False

In [121]:
"address" in me

False