# 사용자 함수

- 인수 : 사용자 함수에 전달할 입력. argument
- 매개변수 : 인수를 받아서 저장하는 변수. parameter
- 반환값 : 사용자 함수의 출력. return
- 함수 호출 : 만들어진 함수를 실제로 사용하는 것

## 함수 정의

'''
def 함수이름(매개변수):
    실행문
    return 반환값
'''

In [1]:
# welcome 함수 정의
def welcome():
    print("Hello!")
    print("Nice to meet you")

In [2]:
welcome()

Hello!
Nice to meet you

## 함수 사용의 장점

- 코드의 용도를 구분
- 코드 재사용이 용이
- 실수를 방지(오타 등)

## 인수와 매개변수

- 인수와 매개변수는 다른 개념이지만 함수가 호출된 뒤에 구분이 모호해지므로 구분하지 않는 경우도 많음

### 인수가 있는 함수

In [3]:
def introduce(name, age): # 매개변수 : name, age
    print(f"내 이름은 {name}이고, 나이는 {age}살입니다.")

In [7]:
introduce() # 2개의 arguments(인수)가 필요하다는 에러

TypeError: introduce() missing 2 required positional arguments: 'name' and 'age'

In [8]:
introduce("jun", 25)

내 이름은 jun이고, 나이는 25살입니다.

### 가변 매개변수

- 함수로 전달해야 하는 인수의 개수가 정해지지 않은 매개변수
- 함수 정의 시 매개변수 앞에 * 를 붙이면 가변 매개변수가 됨
- 전달되는 인수는 하나의 튜플 형태로 전달

In [9]:
def show(*args):
    print(args)

In [10]:
show("Python")

('Python',)

In [11]:
show("happy", "birthday")

('happy', 'birthday')

### 디폴트 매개변수

- 매개변수로 전달되는 인수가 없는 경우에 기본적으로 사용하는 값

In [12]:
def greet(message = "안녕하세요"):
    print(message)

In [14]:
greet()

안녕하세요

In [15]:
greet("반갑습니다")

반갑습니다

#### 디폴트 매개변수의 위치

- 초기값이 지정된 매개변수 다음에는 초기값 없는 매개변수가 올 수 없음

In [16]:
def info(name, address = "비공개", age):
    print(f"이름은 {name} 나이는 {age} 주소는 {address}")
    
info("홍길동", 30)

SyntaxError: non-default argument follows default argument (1827357526.py, line 1)

In [17]:
def info(name, age, address = "비공개"):
    print(f"이름은 {name} 나이는 {age} 주소는 {address}")
    
info("홍길동", 30)

이름은 홍길동 나이는 30 주소는 비공개

## 반환값

- 함수 호출의 결과
- return 문을 통해 반환값 설정 가능

### 반환값이 있는 함수

In [18]:
def address():
    str1 = "우편번호 12345"
    str1 = str1 + "서울시 마포구"

In [19]:
print(address())

None

In [21]:
def address():
    str1 = "우편번호 12345"
    str1 = str1 + "서울시 마포구"
    return str1

In [22]:
print(address())

우편번호 12345서울시 마포구

### 다중 반환

- 하나의 반환값 뿐만 아니라 여러 개의 반환값도 처리 가능

In [25]:
def calculator(*args):
    return sum(args), sum(args)/len(args), max(args), min(args)

In [26]:
calculator(1, 2, 3, 4, 5)

(15, 3.0, 5, 1)

In [27]:
result = calculator(1, 2, 3, 4, 5)

In [28]:
result

(15, 3.0, 5, 1)

In [30]:
print("합계 : ", result[0])
print("평균 : ", result[1])
print("최댓값 : ", result[2])
print("최솟값 : ", result[3])

합계 :  15
평균 :  3.0
최댓값 :  5
최솟값 :  1

In [31]:
plus, mean, maximum, minimum = calculator(1, 2, 3, 4, 5)

print("합계 : ", plus)
print("평균 : ", mean)
print("최댓값 : ", maximum)
print("최솟값 : ", minimum)

합계 :  15
평균 :  3.0
최댓값 :  5
최솟값 :  1

# 지역변수와 전역변수

## 지역변수
- 함수 내부에서 선언한 변수는 함수 내부에서만 사용할 수 있는 변수가 됨
- 함수 외부에서는 지역변수에 접근할 수 없음

In [32]:
def f():
    a = 10
    print(a)

In [33]:
f()

10

In [34]:
print(a)

NameError: name 'a' is not defined

## 전역변수

- 함수 외부에서 선언한 변수
- 전역변수는 함수 내부에서도 사용 가능

In [35]:
b = 10

In [36]:
def f():
    print(b)

In [37]:
f()

10

- 전역변수를 함수 내부에서 사용하는 2가지 경우
    - 단순 참조
    - 전역변수의 값을 변경

In [38]:
# 전역변수의 값을 변경
a = 0

In [39]:
def f():
    a = 10
    print(a)

In [40]:
f()

10

In [41]:
a

0

In [42]:
def f():
    global a # 전역변수 a를 사용하겠다
    a = 10
    print(a)

In [43]:
f()

10

In [44]:
a

10

### 딕셔너리 인수

In [46]:
def info(name, age, address):
    print("name 변수는 ", name)
    print("age 변수는 ", age)
    print("address 변수는 ", address)
    print()
    print(f"이름은 {name} 나이는 {age} 주소는 {address}")

In [49]:
info("홍길동", 30, "서울시 마포구")

name 변수는  홍길동
age 변수는  30
address 변수는  서울시 마포구

이름은 홍길동 나이는 30 주소는 서울시 마포구

In [51]:
x = {"name" : "홍길동",
    "age" : 30,
    "address" : "서울시 마포구"}

In [52]:
info(**x) # dic data인데 통째로 들어가는 것이 아니라 풀어헤쳐서 사용할거임

name 변수는  홍길동
age 변수는  30
address 변수는  서울시 마포구

이름은 홍길동 나이는 30 주소는 서울시 마포구

In [53]:
# 매개변수 이름과 딕셔너리의 키가 다르면 에러가 발생
def info(name, old, address):
    print("name 변수는 ", name)
    print("old 변수는 ", old)
    print("address 변수는 ", address)
    print()
    print(f"이름은 {name} 나이는 {old} 주소는 {address}")

In [54]:
info(**x)

TypeError: info() got an unexpected keyword argument 'age'

In [55]:
# *을 하나만 쓰면 x 딕셔너리의 키가 출력됨
info(*x) # ("name", "age", "address")

name 변수는  name
old 변수는  age
address 변수는  address

이름은 name 나이는 age 주소는 address

### 키워드 인수를 사용하는 가변 인수 함수

In [56]:
def info(**kwargs): # keyword argument
    for kw, arg in kwargs.items():
        print(kw, ":", arg)

In [57]:
info(name = "홍길동")

name : 홍길동

In [58]:
info(name = "홍길동", age = 30, address = "부산시 부산진구")

name : 홍길동
age : 30
address : 부산시 부산진구